@import '../../scss/variables';

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 90vh;
  min-height: 650px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 100px 0 60px;
  
  @media ($min-md) {
    padding: 0;
    padding-top: 40px;
  }


  &__wrapper-content {
    @media ($min-sm) {
      max-width: 400px;
    }

    @media ($min-md) {
      max-width: 500px;
    }
  }
  
  &__content {
    padding: 25px;
    padding-top: 30px;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    color: #fff;
    line-height: 1;
    
    @media ($min-md) {
      padding: 35px;
      padding-top: 40px;
    }


    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(black, 0.35);
      z-index: -1;
    }
  }

  &__blurred {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: blur(30px);
    z-index: -2;
  }

  &__sub-headline {
    font-size: 16px;
    font-weight: var(--fw-light);
  }

  &__headline {
    font-size: 36px;
    font-weight: var(--fw-regular);
    margin-bottom: 16px;
    
    @media ($min-md) {
      font-size: 60px;
      margin-bottom: 26px;
    }


    &::first-letter {
      margin-left: -0.07em;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: var(--fw-light);
    margin-bottom: 16px;
    
    @media ($min-md) {
      font-size: 21px;
      margin-bottom: 24px;
    }

  }

  &__link {
    font-size: 14px;
    font-weight: var(--fw-light);
    color: #fff;
    
    &:hover {
      font-weight: var(--fw-regular);
    }

    &-icon {
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  &__thumbs-title {
    font-size: 16px;
    margin-top: 30px;
    font-weight: var(--fw-bold);
    
    @media ($min-md) {
      margin-top: 42px;
      font-size: 20px;
    }

  }

  &__thumbs {
    display: flex;
  }

  &__thumb {
    justify-content: center;
    border: 0;
    padding: 16px;
    background: none;
    width: 50%;
    cursor: pointer;
    transition: background-color ease 0.2s;

    @media ($min-md) {
      padding: 20px;
    }

    &-icon {
      @media ($max-sm) {
        width: 20px;
        height: 20px;
      }
    }

    &--up {
      background-color: rgba(var(--primary-color-text), 0.8);
      
      &:hover {
        background-color: rgba(var(--primary-color-text), 1);
      }
    }

    &--down {
      background-color: rgba(var(--secondary-color-text), 0.8);

      &:hover {
        background-color: rgba(var(--secondary-color-text), 1);
      }
    }

    &--down &-icon {
      transform: rotate(180deg);
    }
  }

  &__countdown {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#707070, 0.5);
    overflow: hidden;
    
    &-content {
      display: flex;
      align-items: center;
      
      @media ($max-sm) {
        justify-content: center;
      }
    }

    &-label, 
    &-icon {
      @media ($max-sm) {
        flex: 1 0 auto;
      }
    }

    &-label {
      font-size: 13px;
      color: #fff;
      text-align: right;
      padding-right: 10px;
      
      @media ($min-sm) {
        min-width: 280px;
      }
    }

    &-count {
      font-size: 36px;
      font-weight: var(--fw-light);
      color: #464646;
      flex-grow: 1;
      line-height: 1;
      padding: 8px 0;
      padding-left: 16px;
      position: relative;

      span {
        position: relative;
        z-index: 1;
      }
      
      &::before, &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
      }
      
      &::before {
        background-image: url(../../assets/arrow-mask.png);
        background-repeat: no-repeat;
        background-position: 0 center;
        width: 10px;
        opacity: 0.8;
      }
      
      &::after {
        background-color: rgba(white, 0.8);
        width: 100vw;
        left: 7px;
      }

      strong {

      }
    }
  }
}