@import '../../scss/variables';

.box-message {
  margin: 34px 0 40px;
  padding: 24px 28px;
  padding-right: 40px;
  background-color: #ebebeb;
  position: relative;
  
  @media ($min-sm) {
    padding-right: 70px;
    display: flex;
    align-items: center;
  }

  &__headline {
    line-height: 1;
    flex: 1 0 190px;
  }
  
  &__headline-first-line {
    font-size: 18px;
    font-weight: var(--fw-light);

    @media ($min-sm) {
      font-size: 22px;
    }
  }
  
  &__headline-second-line {
    font-size: 30px;
    font-weight: var(--fw-bold);
    
    @media ($min-sm) {
      font-size: 37px;
    }

    &::first-letter {
      margin-left: -0.05em;
    }
  }

  &__text {
    flex-grow: 1;
    font-size: 14px;
    font-weight: var(--fw-light);
    margin-top: 10px;
    
    @media ($min-sm) {
      font-size: 15px;
    }
    
    @media ($min-sm) {
      margin-top: 0;
      margin-left: 16px;
    }
  }

  &__close {
    cursor: pointer;
    border: 0;
    padding: 10px;
    line-height: 0;
    background: none;
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      background-color: #ccc;
    }
    
    @media ($min-sm) {
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }
}