:root {
  --color-text: #333;
  --primary-color: #1cbbb4;
  --primary-color-text: 28,187,180;
  --secondary-color: #ffad1d;
  --secondary-color-text: 255,173,29;
  
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

// Vars media queries
$min-xs: 'min-width: 568px';
$min-sm: 'min-width: 768px';
$min-md: 'min-width: 992px';
$min-lg: 'min-width: 1200px';

$max-xs: 'max-width: 567px';
$max-sm: 'max-width: 767px';
$max-md: 'max-width: 991px';
$max-lg: 'max-width: 1199px';