:root {
  --color-text: #333;
  --primary-color: #1cbbb4;
  --primary-color-text: 28,187,180;
  --secondary-color: #ffad1d;
  --secondary-color-text: 255,173,29;
  
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
}